@using SfoApp.Models

@{
    ViewBag.Title ="Sfo Sjekkinn";
}





<div class="loginClass"  data-bind="visible:true">
<!-- Modal for å logge inn-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="loginModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Login</h3>
            </div>
            <div class="modal-body">
                <div data-bind="component:{
                         name:'login-component',
                        
                                }">
            </div>
            <div class="modal-footer">
               
            </div>
        </div>

    </div>
</div>
</div>






<div data-bind="visible:visVelkom">
    <div data-bind="component:{
    name:'Velkom-component',

}">
    </div>
</div>

    <div data-bind="visible:visAlert">
        <div data-bind="component:{
    name:'alert-component',
  

}"></div>
    </div>

</div><!--SluttPå loginClass-->




<div class="LoggedIn" data-bind="visible:true">

    <!---->
    <div class="page active" id="home">
        <h1>Home</h1>
        <ol>
            <li><a href="#" data-target="home" class="nav-link">HOME</a></li>
            <li><a href="#" data-target="list" class="nav-link">LIST</a></li>
            <li><a href="#" data-target="detail" class="nav-link">DETAIL</a></li>
        </ol>
    </div>

    <div class="page" id="list">
        <h1>List</h1>
        <ol>
            <li><a href="#" data-target="home" class="nav-link">HOME</a></li>
            <li><a href="#" data-target="list" class="nav-link">LIST</a></li>
            <li><a href="#" data-target="detail" class="nav-link">DETAIL</a></li>
        </ol>



        <div data-bind="component:{
    name:'test-component'


}"></div>




    </div>

    <div class="page" id="detail">
        <h1>Detail</h1>
        <ol>
            <li><a href="#" data-target="home" class="nav-link">HOME</a></li>
            <li><a href="#" data-target="list" class="nav-link">LIST</a></li>
            <li><a href="#" data-target="detail" class="nav-link">DETAIL</a></li>
        </ol>
    </div>


</div><!--Slutt På LoggedIn-->

@section scripts{

    <script type="text/javascript">
      


     
    </script>


}

