@{
    ViewBag.Title = "Testside";
}
<h2 data-bind="text:title"></h2>
<h3 data-bind="text:message"></h3>








<div data-bind="visible:visVelkom">
    <div data-bind="component:{
    name:'Velkom-component',
  
}">
    </div>
</div>
<!--params:{velkomTxt:'Hei login eller registrer deg :-)'  }-->




<div data-bind="visible:visInputBox">
    <div data-bind="component:{
    name:'login-component',
    params:{UserName:'Morten',Password:'1234' }
}">
    </div>
</div>

<div data-bind="visible:visRegForm">
    <div data-bind="component:{
    name:'regForm-component',
 params:{Name:'',UserName:'',Password:'',email:'' }

}"></div>
</div>

<div data-bind="visible:visComp">
    <div data-bind="component:{
    name:'alert-component',
    params:{ Message:'Dette ble en suksess igjen',Klasse:'alert alert-success'}
  
}" ></div>
</div>


<!---->
<div class="page active" id="home">
    <h1>Home</h1>
    <ol>
        <li><a href="#" data-target="home" class="nav-link">HOME</a></li>
        <li><a href="#" data-target="list" class="nav-link">LIST</a></li>
        <li><a href="#" data-target="detail" class="nav-link">DETAIL</a></li>
    </ol>
</div>
        
<div class="page" id="list">
    <h1>List</h1>
    <ol>
        <li><a href="#" data-target="home" class="nav-link">HOME</a></li>
        <li><a href="#" data-target="list" class="nav-link">LIST</a></li>
        <li><a href="#" data-target="detail" class="nav-link">DETAIL</a></li>
    </ol>
    
    

    <div data-bind="component:{
    name:'test-component'
   

}"></div>
    
    
    

</div>
        
<div class="page" id="detail">
    <h1>Detail</h1>
    <ol>
        <li><a href="#" data-target="home" class="nav-link">HOME</a></li>
        <li><a href="#" data-target="list" class="nav-link">LIST</a></li>
        <li><a href="#" data-target="detail" class="nav-link">DETAIL</a></li>
    </ol>
</div>


@section scripts{
    
    

  
}