body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.MyErrors{
    color: red;
    font-weight: bold;
    font-style:italic
}


#VelkomJumbo{
    margin-top: 20px;
}


/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    */

/**** PAGES css for navigasjon****/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*html{
    font-size: 20px;  /* 1rem will equal this now */
   /*  line-height: 1.6;
    font-family: sans-serif; /* add google fonts */
/*}*/
/**** PAGES ****/
.page{
    display: none;
     width: 100%;
   margin-top: 3%;
    padding: 1rem 2rem;
 
}
.active{
    display: block; 
}
#home{
    background-color: hsl(60, 50%, 80%);
}
#list{
    background-color: hsl(180, 50%, 80%);
}
#detail{
    background-color: hsl(240, 50%, 80%);
}

/* .big{
    font-size:3rem;
    font-weight: 900;
}*/
#loginModal{
    background-color: cornsilk;
}
#logOutStyle{
    margin:auto;
    padding:5px;
    padding-right: 7px;
    background-color: cornsilk;
}
.elevdisplay{
    margin-right:7px;
    padding-right:3px;
}
.SjekketInnStyle{
   background-color: lightgrey;

    font-style:italic

}
.SjekketUtStyle{
    text-decoration: line-through;
    background-color: orange;
        font-style:italic

}